<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BankAdminProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckAadmin</display-name>
    <servlet-name>CheckAadmin</servlet-name>
    <servlet-class>com.admin.servlets.CheckAadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAadmin</servlet-name>
    <url-pattern>/CheckAadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenAccount</display-name>
    <servlet-name>OpenAccount</servlet-name>
    <servlet-class>com.admin.servlets.OpenAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenAccount</servlet-name>
    <url-pattern>/OpenAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>com.admin.servlets.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositAmount</display-name>
    <servlet-name>DepositAmount</servlet-name>
    <servlet-class>com.admin.servlets.DepositAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositAmount</servlet-name>
    <url-pattern>/DepositAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawAmount</display-name>
    <servlet-name>WithdrawAmount</servlet-name>
    <servlet-class>com.admin.servlets.WithdrawAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawAmount</servlet-name>
    <url-pattern>/WithdrawAmount</url-pattern>
  </servlet-mapping>
</web-app>